@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #fc8a06;
  --color-secondary: #028643;
  --color-third: #03081f;

  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}
body {
  padding: 0 4rem;
  line-height: 1.5;
}
